@import "./base/base";
@import "./base/normalize";
@import "./base/typography";
@import "./utiles/variables";
@import "./utiles/animations";



html{
    font-family: 'Roboto', sans-serif;
}
//////////////////////////////////////////////////////////////
////////////                HEADER                ///////////
////////////////////////////////////////////////////////////

 .button{
        color: $couleur-white;
        width: 50%;
        align-self: center;
        font-weight: 300;
        font-size: 16px;
        background: linear-gradient(130deg, rgba(241,116,218,1) 0%, rgba(160,102,218,1) 100%);
        border-radius: 25px;
        height: 50px;
        border:none;
        box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
    }
.header{
    display: flex;
    flex-direction: column;
    background-color: $couleur-gris01;
    text-align: center;

    .button{
        margin-bottom:57px;
    }
    h1{
        font-size: 24px;
        margin-top: 43px;
        padding: 0 2em;

    }
    &-div{
        background-color: $couleur-gris02;
        font-size: 12px;
        font-weight: 500;
        height: 50px;
        display: flex;
        justify-content: center;
        box-shadow: rgb(0 0 0 / 20%) 0.5px 2.1px 5px 0 inset;
        
        i{
            font-size: 16px;
            align-self: center;
            margin-right: 1em;
        }
        p{
            font-size: 16px;
            align-self: center;
        }

    }
    span{
        font-weight: 100;
        margin-bottom: 31px;
        padding: 0 2em;
    }

}

//////////////////////////////////////////////////////////////
////////////                 NAV                  ///////////
////////////////////////////////////////////////////////////

.nav{
    display: flex;
    background-color: $couleur-white;
    height: 10vh;
    gap: 1.3em;
    position: relative;
    &-logo{
        margin: auto;
        position: relative!important;
        left: 0%!important;
    }
    a{
        text-decoration: none;
        font-family: 'Shrikhand', cursive;
        color: $couleur-black;
        font-size: 30px;
        align-self: center;

    &:first-child{
        position:absolute;
        left: 5%;
        
    }
    
    }

   
}

//////////////////////////////////////////////////////////////
////////////                  MAIN                ///////////
////////////////////////////////////////////////////////////

main{
    h2{
        padding: 2em 0em 0em;
    }
}


//////////////////////////////////////////////////////////////
////////////           FONCTIONNEMENT             ///////////
////////////////////////////////////////////////////////////


.fonctionnement{
    margin-bottom: 4.250em;
    h2{
        padding: 2em 1em 1em;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        li{
            display: flex;
            position: relative;
            button{
                em{
                    font-style: normal;  
                }
            }
        }
        button{
            display: flex;
            gap: 1.5em;
            font-size: 16px;
            border-radius: 20px;
            padding: 25px 10%;
            width: 90%;
            border: none;
            box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
            i{
                color: $couleur-gris03;
                
            }

        &:hover{
            background-color: #f5edff;
            i{
                color: $couleur-primaire;
                
            }
        }

        }
        span{
            background-color: $couleur-primaire;
            font-size: 12px;
            border-radius: 100%;
            padding: 2.5%;
            color: $couleur-white;
            font-weight: 300;
            align-items: center;
            display: flex;
            height: 29px;
            align-self: center;
            position: relative;
            left: 15px;
        }
    }
}

//////////////////////////////////////////////////////////////
////////////              RESTAURANTS             ///////////
////////////////////////////////////////////////////////////
.carte{
    position: relative;
    span{
        position: absolute;
        background-color: #99E2D0;
        width: 70px;
        height: 21px;
        font-size: 12px;
        text-align: center;
        padding: 0 1em;
        color: #2c9c81;
        border-radius: 2px;
        top: 1em;
        right: 1em;
        line-height: 1.8em;
        }
    figure{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    color: $couleur-black;
    background-color: $couleur-white;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
        img{
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            width: 100%;
            height: 13em;
            }
        figcaption{
            display: flex;
            position: relative;
            flex: 10;
            div{
                font-weight: 500;
                text-align: left;
                padding: 1.5em 1.5em 1em 1em;
                line-height: 1.5em; 
                p{
                    font-weight: 100;
                } 
                a{
                    position: absolute;
                    left: 80%;
                    font-size: 1.5em;
                    padding: 0.5em 1em;
                    :hover i {
                        opacity: 1;
                        }
                    &:nth-child(1){
                        opacity: 0;
                       
                    }
                   
                }
            }
        }
    }
}
/*


*/
.restaurants{
    background-color: $couleur-gris01;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    padding:0 1.2em;
    &-div{
    height: 250px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    }
//////////////////////////////////////////////////////////////
////////////      RESTAURANTS - PAGE INTERIEUR    ///////////
////////////////////////////////////////////////////////////
    &-la-palette-du-gout{
        background-image: url(../img/restaurants/La-palette-du-gout.jpg);
        background-position: center -1em;
        }
    &-la-note-enchantee{
        background-image: url(../img/restaurants/La-note-enchantee.jpg);
        background-position: center -8em;
    }
    &-a-la-française{
        background-image: url(../img/restaurants/A-la-francaise.jpg);
        background-position: center 0;

    }
    &-le-delice-des-sens{
        background-image: url(../img/restaurants/Le-delice-des-sens.jpg);
        background-position: center -1em;
    }
    &-button{
        margin: 1em auto 2em;
    }
    h2{
        align-self: flex-start;
    }

        
    
    &-header{
        img{
            height: 300px;
            position: relative;
            z-index: 0;
            width: 100%;
        }
    
    }
}
.carte input[type='checkbox']{ 
    z-index: -9999;
    position: absolute;

    }

    input [type='checkbox']:checked, label svg:hover { 
        animation: animate-heart 0.4s linear forwards;
        span{
            width: 13em;
        }

    }

   
@keyframes animate-heart {
    0%{
        stroke-dashoffset: 0;
        stroke:rgb(0 0 0 / 80%)

    }
    40%{
        stroke:rgb(0 0 0 / 25%);

    }
    50%{
        fill: transparent;
        stroke:rgb(0 0 0 / 5%)

    }
    65%{
        fill: url(#gradient-vertical);
        fill-opacity:0.2;
        stroke:rgb(0 0 0 / 1%)

    }
    80%{
        fill: url(#gradient-vertical);
        fill-opacity:0.5;
        stroke:rgb(0 0 0 / 0%)

    }
    90%{
        fill: transparent;
        fill: url(#gradient-vertical);
        fill-opacity:0.7;
        stroke:rgb(0 0 0 / 0%)

    }
    100%{
     
    fill: url(#gradient-vertical);
    stroke:rgb(0 0 0 / 0%)

    }
}
//////////////////////////////////////////////////////////////
////////////                CARTES                ///////////
////////////////////////////////////////////////////////////
.descriptions-plats{
    display: flex;
    justify-content: space-between;
    flex: 1;
    span:hover{
        width: 13em;
        transition: transform 0.3s;
    }
}
.check{
    width: 0;
    opacity: 0;
    background-color: #99E2CF;
    color: white;
    transition: width 0.3s;
    position: relative;
    border-radius: 0 15px 15px 0;
    
    i{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s;
        font-size: 2em;
    }
}
.cartes {
    background:$couleur-gris01;
    position: relative;
    border-radius: 3em 3em 0 0;
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5em 2em;
        padding: 2em 1.3em 0;
        margin: -2.7em 0 0;
        position: relative;
        z-index: 10;
    }
    h2{
        flex: 80%;
        align-self: center;
        padding: 0;
        font-family: shrikhand;
        font-size: 1.9em;
        
    }
    h3{
        font-weight: 300;
        text-transform: uppercase;
        font-size: 16px;
        position: relative;
        
        strong{
        font-weight: 300;
        border-bottom: solid 3px $couleur-tertiaire ;
        padding: 0 0 5px 0;
        }
    }

    i{
        flex: 10%;
        align-self: center;
    }
    label:hover > .check{
        width: 100px;
        flex: none;
        opacity: 1;
        i{
            -webkit-animation: rotation 300ms linear 1;
            transform-origin:center;
        }
    }

    input[type='checkbox']{ 
        z-index: -9999;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
        }

     }
    .btnplats + label{
        background-color: $couleur-white;
        border-radius: 1em;
        box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
        width: 100%;
        gap: 1em;
        cursor: pointer;
        overflow: hidden;
        display: flex;


        span{
            display: flex;
            flex-wrap: wrap;
            gap: .8em;
            white-space: nowrap;
            transition: width 0.4s;


            ins{
                width: 100%;
                text-decoration: none;
                font-weight: 800;
                font-size: 1.2em;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 1em 0 0 1em;
            }
            em{
                font-size: 1em;
                font-style: normal;
                font-weight: 100;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 0 0 1em 1em;
                width: 310px;
            }
        }
        b{
            align-self: end;
            padding: 0 0 1em 0;
        }
    }

    

        //////////////////////////////////////////////////////////////
        ////////////                FOOTER                ///////////
        ////////////////////////////////////////////////////////////


        footer{
            background-color: #353535;
            color: $couleur-white;
            display: flex;
            flex-direction: column;
            padding: 1em;
            padding-bottom: 2em;

            h1{
                font-family: 'Shrikhand', cursive;
                font-size: 18px;
            }
            a{
                text-decoration: none;
                color: $couleur-white;
                font-family: roboto;
                font-size: 12px;
            }
            ul{
                list-style: none;
            }
        }

//////////////////////////////////////////////////////////////
////////////               RESPONSIVE             ///////////
////////////////////////////////////////////////////////////


/*-----------------------Tablette----------------------*/
@media(min-width:768px){
    
.fonctionnement{
    margin-bottom: 2.25em;
    h2{
        padding: 1em;
    }
     ul{
        flex-direction: row;
        justify-content: center;

        gap: 1.5em;
        button{
            padding: 25px 10%;
        }
        span{
         padding: 5%;   
        }
        i{
            align-self: center;
            padding-left: 1em;
        }
        em{
            text-align: left;
        }
    }
}
   .restaurants{
       flex-wrap: wrap;
       flex-direction: row;
       .carte{
        width: 48%;
        &:nth-child(4){
           margin-bottom: 4em; 
        }
        }
       h2{
           padding: 1em 0 1em;
           flex: 100%;
       }
   }
}
.cartes h3{
    flex: 100%;
}
/*-----------------------Desktop----------------------*/


@media(min-width:992px){
    .fonctionnement ul{
        button{
            width: 30vh;
        }
    }
    .restaurants{
        justify-content: center;
    }
}


    @media(min-width:1024px){
        .fonctionnement ul{
            justify-content: center;
            button{
                width: 20em;
            }
        }
    }