@import "./base/base";
@import "./base/normalize";
@import "./base/typography";
@import "./utiles/variables";
@import "./utiles/animations";



html{
    font-family: 'Roboto', sans-serif;
}
//////////////////////////////////////////////////////////////
////////////                HEADER                ///////////
////////////////////////////////////////////////////////////


header{
    display: flex;
    flex-direction: column;
    background-color: $couleur-gris01;
    text-align: center;
    h1{
        font-size: 24px;
        margin-top: 43px;
        padding: 0 2em;

    }
    div{
        background-color: $couleur-gris02;
        font-size: 12px;
        font-weight: 500;
        height: 50px;
        display: flex;
        justify-content: center;
        box-shadow: rgb(0 0 0 / 20%) 0.5px 2.1px 5px 0 inset;
        
        i{
            font-size: 16px;
            align-self: center;
            margin-right: 1em;
        }
        p{
            font-size: 16px;
            align-self: center;
        }

    }
    span{
        font-weight: 100;
        margin-bottom: 31px;
        padding: 0 2em;
    }
    button{
        color: $couleur-white;
        width: 50%;
        align-self: center;
        font-weight: 500;
        font-size: 12px;
        background: linear-gradient(130deg, rgba(241,116,218,1) 0%, rgba(160,102,218,1) 100%);
        border-radius: 25px;
        height: 50px;
        border:none;
        margin-bottom:57px;
        box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
    }
}

//////////////////////////////////////////////////////////////
////////////                 NAV                  ///////////
////////////////////////////////////////////////////////////

.nav{
    display: flex;
    background-color: $couleur-white;
    height: 10vh;
    gap: 1.3em;
    position: relative;
    &-logo{
        margin: auto;
        position: relative!important;
        left: 0%!important;
    }
    a{
        text-decoration: none;
        font-family: 'Shrikhand', cursive;
        color: $couleur-black;
        font-size: 30px;
        align-self: center;

    &:first-child{
        position:absolute;
        left: 5%;
        
    }
    
    }

   
}

//////////////////////////////////////////////////////////////
////////////                  MAIN                ///////////
////////////////////////////////////////////////////////////

main{
    h2{
        padding: 2em 0em 0em;
    }
}


//////////////////////////////////////////////////////////////
////////////           FONCTIONNEMENT             ///////////
////////////////////////////////////////////////////////////


.fonctionnement{
    margin-bottom: 4.250em;
    h2{
        padding: 2em 1em 1em;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        li{
            display: flex;
            justify-content: center;
            position: relative;
            
        }
        button{
            display: flex;
            justify-content: space-around;
            font-size: 16px;
            border-radius: 20px;
            padding: 25px 10%;
            width: 90%;
            border: none;
            box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
            i{
                color: $couleur-gris03;
                
            }

        &:hover{
            background-color: #f5edff;
            i{
                color: $couleur-primaire;
                
            }
        }

        }
        span{
            background-color: $couleur-primaire;
            font-size: 12px;
            border-radius: 50%;
            padding: 5px 8px;
            color: $couleur-white;
            font-weight: 300;
            left: 4%;
            top:30%;
            position: absolute;
        }
    }
}

//////////////////////////////////////////////////////////////
////////////              RESTAURANTS             ///////////
////////////////////////////////////////////////////////////


.restaurants{
    background-color: $couleur-gris01;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    padding:0 1.2em;
    h2{
        align-self: flex-start;
    }
    a{
        display: flex;
        flex-flow: wrap;
        width: 100%;
        text-decoration: none;
        color: $couleur-black;
        background-color: $couleur-white;
        border-radius: 15px;
        box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
        position: relative;
        z-index: 2;

        img{
            border-radius: 15px 15px 0 0;
            height: 174px;
            object-fit: cover;
            width: 100%;
        }
        span{
            font-weight: 500;
            text-align: left;
            padding:  1.5em 1.5em 1em 1em;
            line-height: 1.5em;

            b{
                font-weight: 100;
            }
            &:nth-child(3){
                flex: 1;
            }
        }
        
    }

}
.carte{
    position: relative;
    width: 100%;
    &:last-child{
        margin-bottom: 4em;
    }
    span{
        &:first-child{
            position: absolute;
            background-color: $couleur-tertiaire;
            width: 70px;
            height: 21px;
            font-size: 12px;
            text-align: center;
            padding: 0 1em;
            color: darken($couleur-tertiaire, 35%);
            border-radius: 2px;
            top: 1em;
            right: 1em;
            line-height: 1.8em;
        }
    }
}
/*{
    background-color: none;
}*/
.like {
    fill: transparent;
    stroke-width: 3;
    stroke: #353535;
    top: 13em;
    right: 0em;
    z-index: 1000;
    background: none;
    border: none;
    position:absolute;
     svg{
            right:0;
            height: 2em;
            top: 2em;
            width: 4em;


    }
}
.carte input[type='checkbox']{ 
    z-index: -9999;
    position: absolute;

    }

    input [type='checkbox']:checked, label svg:hover { 
        animation: animate-heart 2s linear forwards;

    }

   
@keyframes animate-heart {
    0%{
        stroke-dashoffset: 0;
        stroke:rgb(0 0 0 / 80%)

    }
    40%{
        stroke:rgb(0 0 0 / 25%);

    }
    50%{
        fill: transparent;
        stroke:rgb(0 0 0 / 5%)

    }
    65%{
        fill: url(#gradient-vertical);
        fill-opacity:0.2;
        stroke:rgb(0 0 0 / 1%)

    }
    80%{
        fill: url(#gradient-vertical);
        fill-opacity:0.5;
        stroke:rgb(0 0 0 / 0%)

    }
    90%{
        fill: transparent;
        fill: url(#gradient-vertical);
        fill-opacity:0.7;
        stroke:rgb(0 0 0 / 0%)

    }
    100%{
     
    fill: url(#gradient-vertical);
    stroke:rgb(0 0 0 / 0%)

    }
}
//////////////////////////////////////////////////////////////
////////////                CARTES                ///////////
////////////////////////////////////////////////////////////

.check{
    width: 0;
    opacity: 0;
    background-color: #99E2CF;
    color: white;
    transition: width 0.3s;
    position: relative;
    border-radius: 0 15px 15px 0;
    
    i{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s;
        font-size: 2em;
    }
}
.cartes {
    background:$couleur-gris01;
    position: relative;
    border-radius: 3em 3em 0 0;
    top: -3em;
    section{
        display: flex;
        flex-wrap: wrap;
        justify-self: space-between;
        gap: 1em 2em;
        padding: 2em 1em;
    }
    h2{
        flex: 80%;
        align-self: center;
        padding: 0;
    }
    h3{
        flex:100% ;
    }
    i{
        flex: 10%;
        align-self: center;
    }
    input[type='checkbox']:checked + label > .check{
        width: 100px;
        flex: none;
        opacity: 1;
        i{
            -webkit-animation: rotation 300ms linear 1;
            transform-origin:center;
        }
    }
    input[type='checkbox']:checked + label > span{
        width: 50%;
    }
    input[type='checkbox']{ 
        z-index: -9999;
        position: absolute;

        }

     }
    .btnplats + label{
        display: flex;
        background-color: $couleur-white;
        border-radius: 1em;
        box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
        width: 100%;
        gap: 1em;
        cursor: pointer;
        justify-content: space-between;


        span{
            display: flex;
            flex-wrap: wrap;
            gap: .8em;
            white-space: nowrap;
            transition: width 0.4s;


            ins{
                width: 100%;
                text-decoration: none;
                font-weight: 800;
                font-size: 1.2em;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 1em 0 0 1em;



            }
            em{
                font-size: 1.1em;
                font-style: normal;
                font-weight: 400;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 0 0 1em 1em;

            }
        }
        b{
            align-self: end;
            padding: 0 0 1em 0;


        }
    }

    

        //////////////////////////////////////////////////////////////
        ////////////                FOOTER                ///////////
        ////////////////////////////////////////////////////////////


        footer{
            background-color: #353535;
            color: $couleur-white;
            display: flex;
            flex-direction: column;
            padding: 1em;
            padding-bottom: 2em;

            h1{
                font-family: 'Shrikhand', cursive;
                font-size: 18px;
            }
            a{
                text-decoration: none;
                color: $couleur-white;
                font-family: roboto;
                font-size: 12px;
            }
            ul{
                list-style: none;
            }
        }