@import "./base/base";
@import "./base/normalize";
@import "./base/typography";
@import "./utiles/variables";
@import "./utiles/animations";



html{
    font-family: 'Roboto', sans-serif;
}
//////////////////////////////////////////////////////////////
////////////                HEADER                ///////////
////////////////////////////////////////////////////////////

 .button{
        color: $couleur-white;
        width: 14em;
        align-self: center;
        font-weight: 300;
        font-size: 16px;
        border-radius: 25px;
        height: 50px;
        border:none;
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 5px 1px;
        transition: .6s;
        background-size: 200%;
        z-index: 1;
        cursor: pointer;
        background-image: linear-gradient(to left, #ff7de7,#f174da,#a066da,);
        &:hover{
            box-shadow: rgb(0 0 0 / 20%) 2px 2px 5px 2px;
            background-position: right;
            font-size: 16.5px;
            }
    }

.header{
    display: flex;
    flex-direction: column;
    background-color: $couleur-gris01;
    text-align: center;

    .button{
        margin-bottom:57px;
    }
    h1{
        font-size: 1.5em;
        margin-top: 43px;
        padding: 0 2em;

    }
    &-div{
        background-color: $couleur-gris02;
        font-size: 12px;
        font-weight: 500;
        height: 50px;
        display: flex;
        justify-content: center;
        box-shadow: rgb(0 0 0 / 20%) 0.5px 2.1px 5px 0 inset;
        
        i{
            font-size: 16px;
            align-self: center;
            margin-right: 1em;
        }
        p{
            font-size: 16px;
            align-self: center;
        }

    }
    span{
        font-size:1em;
        font-weight: 100;
        margin-bottom: 31px;
        padding: 0 2em;
    }

}

//////////////////////////////////////////////////////////////
////////////                 NAV                  ///////////
////////////////////////////////////////////////////////////

.nav{
    display: flex;
    background-color: $couleur-white;
    height: 10vh;
    gap: 1.3em;
    position: relative;
    &-logo{
        margin: auto;
        position: relative!important;
        left: 0%!important;
    }
    a{
        text-decoration: none;
        font-family: 'Shrikhand', cursive;
        color: $couleur-black;
        font-size: 30px;
        align-self: center;

    &:first-child{
        position:absolute;
        left: 5%;
        
    }
    
    }

   
}

//////////////////////////////////////////////////////////////
////////////                  MAIN                ///////////
////////////////////////////////////////////////////////////

main{
    h2{
        padding: 2em 0em 0em;
    }
}


//////////////////////////////////////////////////////////////
////////////           FONCTIONNEMENT             ///////////
////////////////////////////////////////////////////////////


.fonctionnement{
    margin-bottom: 4.250em;
    h2{
        padding: 2em 1em 1em;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        li{
            display: flex;
            position: relative;
            padding: 0 0.5em;
            button{
                em{
                    font-style: normal;  
                }
            }
        }
        button{
            display: flex;
            gap: 1.5em;
            font-size: 16px;
            border-radius: 20px;
            padding: 25px 10%;
            width: 90%;
            border: none;
            transition: .6s;
            box-shadow: rgb(0 0 0 / 10%) 5.5px 7.1px 21px -6px;
            background-color: #f6f6f6;
            cursor: pointer;
            i{
                color: $couleur-gris03;
                
            }

        &:hover{
            background-color: #f5edff;
            box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;

            i{
                color: $couleur-primaire;
                
            }
        }

        }
        span{
            font-size: 12px;
            display: flex;
            align-self: center;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            color: $couleur-white;
            font-weight: 300;
            text-align: center;
            position: relative;
            left: 15px;
        }
    }
}

//////////////////////////////////////////////////////////////
////////////              RESTAURANTS             ///////////
////////////////////////////////////////////////////////////
.restaurants .carte:nth-child(5){
    margin-bottom: 5em;
}

//////////////////////////////////////////////////////////////
////////////                   LIKE               ///////////
////////////////////////////////////////////////////////////
.vide{
    opacity: 1;
    color: black;
    }
.plein{
    display: block;
    position: absolute;
    opacity: 0;
    background: linear-gradient(1turn, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    transition-duration: 1s;  
}

.vide:hover{
    opacity: 0;
    }

.plein:hover{
    opacity: 1;
    display: block;
    position: absolute;
    transition-duration: 1s;
    }

.carte{
    position: relative;
    width: 100%;
    transition: box-shadow .6s;
    display: block;
    border-radius: 15px;
    &:hover{
        box-shadow: rgb(0 0 0 / 25%) 5.5px 7.1px 21px -6px;   
    }
    span{
        position: absolute;
        background-color: #99E2D0;
        width: 6em;
        height: 1.8em;
        font-size: 1em;
        text-align: center;
        padding: 0 1em;
        color: #2c9c81;
        border-radius: 2px;
        top: 1em;
        right: 1em;
        line-height: 1.8em;
        }
    figure{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $couleur-black;
    background-color: $couleur-white;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 10%) 5.5px 7.1px 21px -6px;
    a{
        display: flex;
        text-decoration: none;
    }
        img{
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            width: 100%;
            height: auto;
            }
        figcaption{
            display: flex;
            position: relative;
            flex: 10;
            div{
                font-weight: 500;
                text-align: left;
                padding: 1.5em 1.5em 1em 1em;
                line-height: 1.5em; 
                
                p{
                    font-weight: 100;
                } 
                a{
                    position: absolute;
                    left: 85%;
                    font-size: 2em;

                }
            }
        }
    }

    &-restaurant{
        height: 20vh;
        width: 100%;
        background-size: cover;
        border-radius: 15px 15px 0 0;
        background-repeat: no-repeat;
    }
}

.restaurants{
    background-color: $couleur-gris01;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    padding:0 1.2em;
    
        &-div{
        height: 250px;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        }
//////////////////////////////////////////////////////////////
////////////      RESTAURANTS - PAGE INTERIEUR    ///////////
////////////////////////////////////////////////////////////

    &-la-palette-du-gout{
        background-image: url(../img/restaurants/La-palette-du-gout.jpg);
        }
    &-la-note-enchantee{
        background-image: url(../img/restaurants/La-note-enchantee.jpg);
    }
    &-a-la-française{
        background-image: url(../img/restaurants/A-la-francaise.jpg);

    }
    &-le-delice-des-sens{
        background-image: url(../img/restaurants/Le-delice-des-sens.jpg);
    }
    &-button{
        margin: 1em auto 2em;
    }
    h2{
        align-self: flex-start;
    }
  
    &-header{
        img{
            height: 300px;
            position: relative;
            z-index: 0;
            width: 100%;
        }
    
    }

}
.like{
    font-size: 2em;
    flex:0.15;
}
.check {
    width: 0;
    opacity: 0;
    background-color: #99E2CF;
    color: white;
    transition: width 0.3s;
    position: relative;
    border-radius: 0 15px 15px 0;
    justify-content: center;

    i{
        transform: translate(-70%, -50%);
    }
    
}
.cartes{
    .menu{
        margin: 0;
        padding: 0;
        gap:2em;
        section{
            display: flex;
            margin: 0;
            padding: 0;
            h3{
                padding: 1.5em 0em 0em;            
            }
        }
    }
    ///////--- BOUTON_VALIDER ---////////
    .btn{
        background-color: #fff;
        border-radius: 1em;
        box-shadow: rgb(0 0 0 / 20%) 5.5px 7.1px 21px -6px;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        animation: fadein 2s;
        width: 100%;
        justify-items: center;
        height:80px;
        &:hover > .check {
            width: 100px;
            flex: none;
            opacity: 1;
            display: flex;
            i{
                -webkit-animation: rotation 300ms linear 1;
                top:50%;
                left: 50%;        
            }
              h4{
                width: 80%;

              }  
              p{
                width: 80%;

            }
            
        }

        div{
            display: flex;
            flex-direction: column;
            gap: .5em;
            flex: 1;
            padding: 1em 0 0 1em;
            width: 100%;
            height: 100%;
            
            h4{
                font-weight: 800;
                font-size: 1.2em;
                width: 100%;
                height: 1.2em;
                padding-left: 0;
                text-overflow: ellipsis;
                overflow: hidden;


            }
            p{
                padding-left: 0;
                height: 0.9em;
                font-size: .9em;
                width: 100%;
                font-weight: 300;
                height: .9em;
                text-overflow: ellipsis;
                overflow: hidden;
                

                
            }
        } 
        b{
            place-self: end;
            padding: 1em;
        }
        
        
    }
}




//////////////////////////////////////////////////////////////
////////////                CARTES                ///////////
////////////////////////////////////////////////////////////

.descriptions-plats{
    display: flex;
    justify-content: space-between;
    flex: 1;
    transition: width 0.4s;

    span:hover{
        width: 13em;
        transition: transform 0.3s;
    }
}
.check{
    width: 0;
    opacity: 0;
    background-color: #99E2CF;
    color: white;
    transition: width 0.3s;
    position: relative;
    border-radius: 0 15px 15px 0;
    
    i{
        position: absolute;
        justify-items: center;
        transition: transform 0.3s;
        font-size: 2em;
    }
}
.cartes {
    background:$couleur-gris01;
    position: relative;
    border-radius: 3em 3em 0 0;
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5em 2em;
        padding: 2em 1.3em 0;
        margin: -2.7em 0 0;
        position: relative;
        z-index: 10;
    
        .menu section{
            &:nth-child(1){
                animation: fadein 1s;
            }
            &:nth-child(2){
                animation: fadein 5s;
            }
    
            &:nth-child(3){
                animation: fadein 8s;
            }
        }
    }
    h2{
        flex: 70%;
        align-self: center;
        padding: 0;
        font-family: shrikhand;
        font-size: 1.7em;
        
    }
    h3{
        font-weight: 300;
        text-transform: uppercase;
        font-size: 16px;
        position: relative;
        
        strong{
        font-weight: 300;
        border-bottom: solid 3px $couleur-tertiaire ;
        padding: 0 0 5px 0;
        }
    }

    i{
        flex: 10%;
        align-self: center;
    }
}
        //////////////////////////////////////////////////////////////
        ////////////                FOOTER                ///////////
        ////////////////////////////////////////////////////////////


        footer{
            background-color: #353535;
            color: $couleur-white;
            display: flex;
            flex-direction: column;
            padding: 1em;
            padding-bottom: 2em;

            h4{
                font-family: 'Shrikhand', cursive;
                font-size: 18px;
            }
            a{
                text-decoration: none;
                color: $couleur-white;
                font-family: roboto;
                font-size: 12px;
            }
            ul{
                list-style: none;
            }
        }

//////////////////////////////////////////////////////////////
////////////               RESPONSIVE             ///////////
////////////////////////////////////////////////////////////


/*-----------------------Tablette----------------------*/
@media(min-width:768px){
    
.fonctionnement{
    margin-bottom: 2.25em;
    h2{
        padding: 1.5em;
        text-align: center;
    }
     ul{
        flex-direction: row;
        justify-content: center;

        gap: 1.5em;
        button{
            padding: 25px 10%;
        }
        i{
            align-self: center;
            padding-left: 1em;
        }
        em{
            text-align: left;
        }
    }
}
    .cartes .menu section{
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }
   .restaurants{
       flex-wrap: wrap;
       flex-direction: row;
       .carte{
        width: 48%;
        &:nth-child(4){
           margin-bottom: 5em; 
        }
        &:nth-child(5){
            margin-bottom: 5em; 
         }
        }
       h2{
           padding: 1.5em;
           text-align: center;

           flex: 100%;
       }
   }
   .like{
    flex: 0.45;
   }
}
.cartes h3{
    flex: 100%;
}
/*-----------------------Desktop----------------------*/


@media(min-width:992px){
    .fonctionnement ul{
        button{
            width: 30vh;
        }
    }
    .restaurants{
        justify-content: center;

    }
}


    @media(min-width:1064px){
        .fonctionnement ul{
            justify-content: center;
            button{
                width: 20em;
            }
        }
    .cartes{
        .menu{
            display: flex;
            flex: 100%;
            section{
                gap: 2em;
                display: flex;
                flex: 3;
                align-content: flex-start;
                margin: 0;
                padding: 0;
            }
        }
     }
        .restaurants{
            .carte{
                width: 33%;
            }
            
        }
        .like{
            flex: 0.15;
           }
    }


.cercle {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: $couleur-primaire;
}
.intro{
    background: $couleur-tertiaire;
    position: absolute;
    height: 100%;
    width: 100%;
    animation: loading 3s linear;
    opacity: 0;
    p{
        font-size: 3em;
        text-align: center;
        font-family:"Shrikhand", cursive ;
        margin: 15vh auto;
        position: relative;
        color: darken($couleur-tertiaire, 30%);
        animation: big 1.5s infinite;
    }
}
.chargement{
    border: 10px solid rgba(0, 0, 255, 0);
    border-left:5px solid darken($couleur-tertiaire, 30%);
    border-radius: 150%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s infinite;
    margin: 20vh auto;
    position: relative;
}
