//////////////////////////////////////////////////////////////
////////////                COULEURS              ///////////
////////////////////////////////////////////////////////////

$couleur-primaire : #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-black: #101010;

$couleur-gris01: #f6f6f6;
$couleur-gris02: #eaeaea;
$couleur-gris03: #7e7e7e;

$couleur-white : #fff;


  $button: linear-gradient(to left, rgba(241,116,218,1) 0%, rgba(160,102,218,1) 100%);
  $buttonR: linear-gradient(to right, rgba(241,116,218,1) 0%, rgba(160,102,218,1) 100%);