//////////////////////////////////////////////////////////////
////////////                COULEURS              ///////////
////////////////////////////////////////////////////////////

$couleur-primaire : #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-black: #101010;

$couleur-gris01: #f6f6f6;
$couleur-gris02: #eaeaea;
$couleur-gris03: #7e7e7e;

$couleur-white : #fff;

//////////////////////////////////////////////////////////////
////////////                Dégrader              ///////////
////////////////////////////////////////////////////////////

  #gradient-vertical {
    --color-stop-1: #9356DC;
    --color-stop-2: #FF79DA;
    --color-stop-3: pink;
  }